## Unit 10.리스트와 튜플

### 10.1 리스트 (List)

In [1]:
a= [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [3]:
import numpy as np
np.random.randint(10,70,5)

array([29, 12, 68, 33, 53])

In [5]:
b= list(np.random.randint(10,70,10))
b

[50, 28, 37, 11, 38, 58, 61, 30, 50, 29]

In [7]:
# 리스트에는 여러 자료형을 사용할 수 있음
person=['james',27,175.3,'남']
person

['james', 27, 175.3, '남']

In [8]:
#위의 리스트는 아래와 같은 딕셔너리로 표현하는 것이 더 좋다
{'name':'james','age':27,'height':175.3,'gender':'남'}

{'name': 'james', 'age': 27, 'height': 175.3, 'gender': '남'}

In [9]:
#빈 리스트 만들기
a=[]
b=list()
a,b=[],[]

In [12]:
import random 
a=[]
for i in range(5):
      a.append(random.randint(60,100))
a

[75, 71, 60, 73, 72]

-range 객체

In [15]:
#range parameter 1개: 횟수 의미(0에서 n-1까지)
# paramete 2개 : 시작~ 끝-1
list(range(5))
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#range parameter 3개: 시작, 끝, 증가폭 의미
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [17]:
list(range(10,0,-2))
# end- (증가폭 부호)*1

[10, 8, 6, 4, 2]

### 10.2 튜플(tuple)

In [20]:
a=(38,32,53,62,19)
a

(38, 32, 53, 62, 19)

In [18]:
person

['james', 27, 175.3, '남']

In [19]:
person=('james', 27, 175.3, '남')
person

('james', 27, 175.3, '남')

In [23]:
size=(3)
type(size) 
# 튜플이 아니고 정수가 됨

int

In [24]:
size= (3,)
type(size)
#요소가 한개 들어 있는 튜플만들기

tuple

In [25]:
size=3,
type(size) # 괄호는 안붙여도 되지만 콤마는 무조건 있어야함

tuple

- 튜플의 요소를 변경, 추가, 삭제할 수도 없다

In [26]:
t=()
type(t)

tuple

In [27]:
t=tuple(range(5))
t

(0, 1, 2, 3, 4)

-리스트 ←→ 튜플
l=list(t)
type(l)

In [29]:
l=list(t)
type(l)

list

In [30]:
type(tuple(l))

tuple

- 리스트에 문자열 넣기

In [31]:
list('안녕하세요')

['안', '녕', '하', '세', '요']